@page
@using LoginProject.Utils
@model LoginProject.Pages.Posts.IndexModel
@{
}

<div>
    <form class="post-form" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="post-form__content-wrapper">
            <textarea placeholder="What is happening?!" class="post-form__content" asp-for="Input.Content"></textarea>
            <span class="post-form__content-message" asp-validation-for="Input.Content"></span>
        </div>
        <div class="post-form__btn-wrapper">
            <button class="post-form__btn" type="submit">Post</button>
        </div>
    </form>
</div>

<div class="posts">
@foreach (var post in Model.Posts)
{
    <div class="post" data-id="@post.PostId">
            <div class="post__top">
                <a class="post__username" asp-page="/Users/User" asp-route-username="@post.Author.UserName">@post.Author.UserName</a>
                <p class="post__time">@DateTimeHelper.ConvertTimeToString(post.CreatedAt)</p>
            </div>
            <pre class="post__content">@Html.Raw(post.Content)</pre>
        <div class="post__action">
            <a class="post__icon icon-wrapper" asp-page="./Reply" asp-route-id="@post.PostId"><i class="icon icon--comment"></i>@post.RepliesCount</a>
        </div>
    </div>
}
</div>