@page
@using LoginProject.Models
@using LoginProject.Utils
@model LoginProject.Pages.Posts.IndexModel
@{
}
@inject SignInManager<User> SignInManager

<div @(SignInManager.IsSignedIn(User) ? "" : "class=blur")>
    <form class="blur__hidden post-form" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="post-form__content-wrapper">
            <textarea placeholder="What is happening?!" class="post-form__content" asp-for="Input.Content"></textarea>
            <span class="text--error" asp-validation-for="Input.Content"></span>
        </div>
        <div class="post-form__btn-wrapper">
            <button class="post-form__btn" type="submit">Post</button>
        </div>
    </form>
    @if (!SignInManager.IsSignedIn(User)) {
        <div class="blur__info">
            <p><a asp-page="/Account/Login" asp-area="Identity">Login</a> to post</p>
        </div>
    }
</div>

<div class="posts">
<div class="posts__pagination">
@if (Model.TotalPages > 1) {
    @if (Model.TotalPages >= 3) {
        @if (Model.CurrentPage > 2) {
            <a class="" asp-page="./Index" asp-route-peji="1">1</a>
            <span>...</span>
        }

        @for (int i = Math.Max(1, Model.CurrentPage - 1); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 1); i++) {
            <a class="@(i == Model.CurrentPage ? "active" : "")" asp-page="./Index" asp-route-peji="@i">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages - 1) {
            <span>...</span>
            <a class="" asp-page="./Index" asp-route-peji="@Model.TotalPages">@Model.TotalPages</a>
        }
    } else {
        @for (int i = 1; i <= Model.TotalPages; i++) {
            <a class="@(i == Model.CurrentPage ? "active" : "")" asp-page="./Index" asp-route-peji="@i">@i</a>
        }
    }
}
</div>
@foreach (var post in Model.Posts)
{
    <div class="post" data-id="@post.PostId">
            <div class="post__top">
                <a class="post__username" asp-page="/Users/User" asp-route-username="@post.Author.UserName">@post.Author.UserName</a>
                <p class="post__time">@DateTimeHelper.ConvertTimeToString(post.CreatedAt)@(post.EditedAt != null ? $" (edited)" : "")</p>
            </div>
            <pre class="post__content">@Html.Raw(post.Content)</pre>
        <div class="post__action">
            <a class="post__icon icon-wrapper" asp-page="./Reply" asp-route-id="@post.PostId"><i class="icon icon--comment"></i>@post.RepliesCount</a>
        </div>
    </div>
}
<div class="posts__pagination">
    @if (Model.TotalPages > 1) {
        @if (Model.TotalPages >= 5) {
            @if (Model.CurrentPage > 3) {
                <a class="" asp-page="./Index" asp-route-peji="1">1</a>
                <span>...</span>
            }

            @for (int i = Math.Max(1, Model.CurrentPage - 2); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 2); i++) {
                <a class="@(i == Model.CurrentPage ? "active" : "")" asp-page="./Index" asp-route-peji="@i">@i</a>
            }

            @if (Model.CurrentPage < Model.TotalPages - 2) {
                <span>...</span>
                <a class="" asp-page="./Index" asp-route-peji="@Model.TotalPages">@Model.TotalPages</a>
            }
        } else {
            @for (int i = 1; i <= Model.TotalPages; i++) {
                <a class="@(i == Model.CurrentPage ? "active" : "")" asp-page="./Index" asp-route-peji="@i">@i</a>
            }
        }
    }
</div>
</div>