@page
@model LoginProject.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].ParentPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].RootPost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPost.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RootPost.PostId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
