@page "/Post/{id}"
@using LoginProject.Utils
@model LoginProject.Pages.Posts.ViewModel
@{
}

<a class="title icon-wrapper icon-wrapper--s2" asp-page="./Index"><i class="icon icon--leftarrow"></i>Posts</a>
<div class="posts">
    <div class="posts__main">
    @foreach (var post in Model.Thread)
    {
        <div class="post" data-id="@post.PostId">
            <span class="post__line"></span>
                <div class="post__top">
                    <a class="post__username" asp-page="/Users/User" asp-route-username="@post.Author.UserName">@post.Author.UserName</a>
                    <p class="post__time">@DateTimeHelper.ConvertTimeToString(post.CreatedAt)</p>
                </div>
                <pre class="post__content">@Html.Raw(post.Content)</pre>
            <div class="post__action">
                <a class="post__icon icon-wrapper" asp-page="./Reply" asp-route-id="@post.PostId"><i class="icon icon--comment"></i>@post.RepliesCount</a>
            </div>
        </div>
    }

        <div class="post post--main" id="post-main">
            <div class="post__top flex--spacebetween">
                <a class="post__username" asp-page="/Users/User" asp-route-username="@Model.Post.Author.UserName">@Model.Post.Author.UserName</a>
                @if (Model.CanDelete) {
                    <form asp-page="./Delete" asp-route-id="@Model.Post.PostId" method="post">
                        <button type="submit" class="icon-wrapper">
                            <i class="icon icon--delete"></i>
                        </button>
                    </form>
                }
            </div>
            <pre class="post__content">@Html.Raw(Model.Post.Content)</pre>
            <div class="post__time-wrapper">
                <p class="post__time">@Model.Post.CreatedAt</p>
            </div>
            <div class="post__action">
                <a class="post__icon icon-wrapper" asp-page="./Reply" asp-route-id="@Model.Post.PostId"><i class="icon icon--comment"></i>@Model.Post.RepliesCount</a>
            </div>
        </div>
    </div>

    <div class="posts__replies">
    @foreach (var reply in Model.Replies)
    {
        <div class="post" data-id="@reply.PostId">
            <div class="post__top">
                <a class="post__username" asp-page="/Users/User" asp-route-username="@reply.Author.UserName">@reply.Author.UserName</a>
                <p class="post__time">@DateTimeHelper.ConvertTimeToString(reply.CreatedAt)</p>
            </div>
            <pre class="post__content">@Html.Raw(reply.Content)</pre>
            <div class="post__action">
                <a class="post__icon icon-wrapper" asp-page="./Reply" asp-route-id="@reply.PostId"><i class="icon icon--comment"></i>@reply.RepliesCount</a>
            </div>
        </div>
    }
    </div>
</div>