@page "/Post/{id}"
@model LoginProject.Pages.Posts.ViewModel
@{
}

<div>
    <p>@Model.Post.Author.UserName</p>
    <p>@Model.Post.CreatedAt</p>
    <div>@Html.Raw(Model.Post.Content)</div>
    <p>@Model.Post.RepliesCount replies</p>
    <a asp-page="./Reply" asp-route-id="@Model.Post.PostId">Reply</a>
</div>

@foreach (var reply in Model.Replies)
{
    <div>
        <p>@reply.Author.UserName</p>
        <p>@reply.CreatedAt</p>
        <div>@Html.Raw(reply.Content)</div>
        <p>@reply.RepliesCount replies</p>
        <a asp-page="./Reply" asp-route-id="@reply.PostId">Reply</a>
        <a asp-page="./View" asp-route-id="@reply.PostId">View</a>
    </div>
}