@page "/User/{username}"
@model LoginProject.Pages.Users.UserModel
@{
}

<h1>@Model.UserProfile!.UserName</h1>

@foreach (var post in Model.Posts)
{
    <div>
        <div>@Html.Raw(post.Content)</div>
        <p>@post.CreatedAt</p>
        <a asp-page="/Posts/Reply" asp-route-id="@post.PostId">Reply</a>
        <a asp-page="/Posts/View" asp-route-id="@post.PostId">View</a>
    </div>
}